.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

#canvas1 {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("/public/images/Background.jpg");
}

.App-header {
	background-color: #778899;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

canvas {
	border: 1px solid #ffe57e;
}

#otter,
#cat,
#alliance,
#corvid,
#eyrie,
#duchy {
	display: none;
}
